<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">

    <meta property="og:site_name" content="Mivian" />
    <meta property="og:title" content="Mivian - Дискорд Бот"/>
    <meta property="og:description" content="🏮 Информация 🏮 Модерация 🏮 Экономика 🏮 Игры 🏮 Фурри 🏮 Музыка и другое!"/>
    <meta property="og:image" content="https://mivian.ru/static/background.jpg" />
    <meta property="og:type" content="website"/>
    <meta property="og:url" content= "https://server-discord.com/867370837249490974" />

    <meta name="robots" content="index,follow" />
    <meta name="document-state" content="Dynamic" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="msapplication-starturl" content="/">

    <meta name="description" content="Добро пожаловать в Mivian - вашего надежного компаньона в мире Discord! От управления сервером до развлечений и полезных функций, Mivian всегда рядом, чтобы сделать ваше пребывание на Discord более увлекательным и комфортным.">
    <meta name="keywords" content="mivian, discord bot, мивина, дискорд бот">
    <meta http-equiv="content-language" content="ru">
    <link rel="canonical" href="https://mivian.ru/" />

    <meta name="author" content="Ginji, Luter">

    <link rel="icon" type="image/png" href="static/favicon.png">
    <meta name="theme-color" content="#FE7A4D">
    <meta name="msapplication-TileColor" content="#FE7A4D">
    <meta name="msapplication-TileImage" content="static/favicon.png">

    <link rel="stylesheet" href="static/style.css">
    <title>Mivian - Главная</title>
</head>

<body>
<div class="darkened-background"></div>
<!--menu--><!--menu--><!--menu--><!--menu--><!--menu--><!--menu--><!--menu--><!--menu--><!--menu--><!--menu-->

<header class="header_top_menu">
    <div class="Logo">
        <h1>
        <a href="https://mivian.ru">
        <span class="bot-icon"></span>
        Mivian</a>
        </h1>
    </div>
    <div class="Top_menu">
        <ul>
        <li><a href="#">Новости</a></li>
        <li><a href="#">Команды</a></li>
        <li><a href="#">Документация</a></li>
        <li><a href="https://discord.gg/53BxqhHt3Y">Поддержка</a></li>
        </ul>
    </div>
    <div class="login">
            <a class="login-button-login" href="#" id="login-button-login">:3</a>
    </div>
</header>

<div id="menu" class="sidebar">
    <a href="#">Новости</a>
    <a href="#">Команды</a>
    <a href="#">Документация</a>
    <a href="https://discord.gg/53BxqhHt3Y">Поддержка</a>
</div>

<div class="content-menu">
    <span class="openbtn" onclick="openNav()">☰</span>
</div>

<!--content--><!--content--><!--content--><!--content--><!--content--><!--content--><!--content--><!--content-->

<div class="content">
    <div class="content-invite-buttons">
        <button onclick="window.location.href='https://discord.com/api/oauth2/authorize?client_id=867370837249490974&permissions=8&scope=bot'" class="button-invite"><span class="discord-icon"></span>Пригласить бота</button>
    </div>
    <div class="element-scroll-animation information-1">
        <div class="text-information-div-1">
            <div class="title-information-1">
                <h1>Музыка</h1>
            </div>
            <div class="description-information-1">
                <h1>Наш бот способен воспроизводить любимые треки прямо в голосовом канале Discord. Управляйте воспроизведением музыки легко и удобно, просто нажимая на кнопки. Наслаждайтесь музыкой вместе с друзьями, не отрываясь от общения!</h1>
            </div>
        </div>
        <div class="image-information-1">
            <img src="https://cdn.discordapp.com/attachments/1172623762785587410/1208181614312431616/image.png?ex=65e259cf&is=65cfe4cf&hm=22fa7b0acdf5939bf56997967c99fbbd702f8a37572ff2cba9b3720df98f1506&" alt="Музыкальная часть бота">
        </div>
    </div>

    <div class="element-scroll-animation information-2">
        <div class="text-information-div-2">
            <div class="title-information-2">
                <h1>Экономика</h1>
            </div>
            <div class="description-information-2">
                <h1>Удивительный мир тайн, чудес и экономики! Здесь каждый день приносит новые загадки и возможности. Раскройте тайны, встретьте чудеса и освойте экономику этого удивительного мира. Погрузитесь в приключения и откройте для себя неизведанные горизонты!</h1>
            </div>
        </div>
        <div class="image-information-2">
            <img src="https://cdn.discordapp.com/attachments/1172623762785587410/1208187919853158560/image.png?ex=65e25faf&is=65cfeaaf&hm=6c2fbdaeb6a68df356a6035026bcf6f29bd1060ead545370edb41c4e115f3b05&" alt="Экономическая часть бота">
        </div>
    </div>

    <div class="element-scroll-animation information-3">
        <div class="text-information-div-3">
            <div class="title-information-3">
                <h1>ВЕСЕЛЬЕ</h1>
            </div>
            <div class="description-information-3">
                <h1>Камень, ножницы, бумага? Нет, бутылка лимонада! Веселитесь спрашивая у шара что нибудь и используйте больше фановых команд!</h1>
            </div>
        </div>
        <div class="image-information-3">
            <img src="https://cdn.discordapp.com/attachments/1172623762785587410/1209060272698826762/image.png?ex=65e58c20&is=65d31720&hm=7d01bb29f66e630861514cb7659ceb7af3b22cf720a32fcee762baa10cce1456&" alt="Весёлости">
        </div>
    </div>

    <div class="element-scroll-animation information-4">
        <div class="text-information-div-4">
            <div class="title-information-4">
                <h1>УТИЛИТЫ</h1>
            </div>
            <div class="description-information-4">
                <h1>Утилиты бота делают использование сервера более удобным и эффективным, упрощая выполнение определенных задач!</h1>
            </div>
        </div>
        <div class="image-information-4">
            <img src="https://cdn.discordapp.com/attachments/1172623762785587410/1209062355879591956/image.png?ex=65e58e10&is=65d31910&hm=4ec025b8b846bb32f9e5f60c062366479d332ceef6834aa4a20076f70310b7a1&" alt="Утилиты">
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#scrollToTopBtn").click(function(){
            $.ajax({
                url: '/process',
                type: 'POST'
            });
        });
    });
</script>



<button id="scrollToTopBtn" class="scrollButtonTop">↑</button>

<!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer--><!--footer-->

<footer>
    <div class="footer-content">
        <h3>Mivian Bot</h3>
        <p>{{ sentence }}</p>
        <ul class="socials">
            <li><a href="https://discord.gg/53BxqhHt3Y"><i class="discord-link"><u>Давай поболтаем в дискорде!<u></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023-2024 - <span>Ginji</span> - Все права в наших лапках!</p>
    </div>
</footer>


<!--JavaScript--><!--JavaScript--><!--JavaScript--><!--JavaScript--><!--JavaScript--><!--JavaScript-->
<script src="static/scripts/log-start.js"></script>
<script src="static/scripts/script.js"></script>

</body>

</html>